body{
    font-family: Helvetica;
    color: black;
}
h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./images/pattern.jpeg");
}
.header{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
 }
#one{
    background-color: mediumspringgreen;
}
#two{
    background-color: lightcoral;
}
#three{
    background-color: skyblue;
}
span{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
